{% extends "blog/infoBase.html" %}
{% load static %}
{% block main %}
<style>

    .about-us {
        background-color: #fbfaf3;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 15px 0;
        text-align: center; 
    }

    .about-us h1 {
        font-size: 50px;
        color: #333;
        margin-bottom: 20px;
    }

    .about-us p {
        font-size: 18px;
        color: #555;
        line-height: 1.6;
        margin-bottom: 10px;
    }

    .about-us strong {
        color: #00563F;
    }

    .about-us img {
        width: 50%; 
        height: auto;
        margin: 20px 0;
        border-radius: 8px;
    }
</style>
<main>
    <section class="about-us">
        <h1>🧀 Sobre Nosotros</h1>
        <img src="{% static 'images/BG2.jpg' %}" alt="Imagen de Proarcol">
        <p>En <strong>Proarcol</strong>, somos una empresa dedicada a la fabricación de quesos de alta calidad. Nuestra misión es ofrecer productos excepcionales que deleiten a nuestros clientes, combinando técnicas tradicionales con innovación moderna. Desde nuestros inicios, hemos trabajado incansablemente para perfeccionar nuestras técnicas de producción, asegurando que cada pieza de queso que sale de nuestras instalaciones cumpla con los más altos estándares de calidad.</p>
        <p>Ubicados en el corazón de Colombia, trabajamos estrechamente con granjas locales para obtener la mejor leche fresca, garantizando así la autenticidad y el sabor natural de nuestros quesos. Cada pieza es elaborada con cuidado y pasión por nuestro equipo de expertos queseros, quienes supervisan cada etapa del proceso, desde la selección de los ingredientes hasta el envejecimiento y el empaquetado.</p>
        <p>Nos enorgullece nuestra dedicación a la sostenibilidad y al respeto por el medio ambiente. Implementamos prácticas ecológicas en todas nuestras operaciones, asegurando que nuestros productos no solo sean deliciosos, sino también responsables con el entorno. Creemos firmemente en la importancia de preservar nuestro planeta para las futuras generaciones, y por ello, utilizamos métodos de producción que minimizan el impacto ambiental.</p>
        <p>En Proarcol, encontrarás una amplia variedad de quesos para cada ocasión, desde los más suaves y cremosos hasta los más fuertes y maduros. Ya sea que estés buscando un queso para una ocasión especial o simplemente para disfrutar en tu día a día, tenemos la opción perfecta para ti. Nuestros quesos son ideales para acompañar una gran variedad de platos, desde aperitivos hasta postres, y siempre aportan un toque de sabor y calidad a tus comidas.</p>
        <p>Únete a nosotros y descubre la pasión y dedicación que ponemos en cada pieza de queso. En Proarcol, no solo fabricamos quesos, sino que también creamos experiencias culinarias únicas que deleitan a nuestros clientes. Estamos comprometidos con la excelencia y la innovación, y siempre estamos buscando nuevas formas de mejorar y expandir nuestra oferta de productos. Gracias por confiar en nosotros y permitirnos ser parte de tus momentos especiales.</p>
    </section>
</main>
{% endblock %}
