{% extends 'cart/dashBaseCliente.html' %}

{% block main %}

<div class="carrito-container">
    <div class="alert alert-primary carrito-alert" role="alert">
        <h4>Carrito de Pedidos</h4>
    </div>
    <table class="table table-bordered carrito-table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Acumulado</th>
            </tr>
        </thead>
        <tbody>
            {% if request.session.carrito %}
                {% for key, value in request.session.carrito.items %}
                    <tr>
                        <td>{{ value.nombre }}</td>
                        <td>{{ value.cantidad }}</td>
                        <td>
                            ${{ value.acumulado }}
                            <div class="d-inline-block ms-3">
                                <a href="{% url 'Add' value.producto_id %}" class="badge btn btn-primary btn-custom btn-add">+</a>
                                <a href="{% url 'Sub' value.producto_id %}" class="badge btn btn-danger btn-custom btn-sub">-</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">
                        <div class="alert alert-danger text-center carrito-alert">Sin Productos</div>
                    </td>
                </tr>
            {% endif %}
            <tr style="background-color: #f5c6a1; color: #4a3b2a;">
                <th scope="row">Total:</th>
                <td colspan="2">${{ total_carrito }}</td>
            </tr>
        </tbody>
    </table>
    <hr />
    <div class="row text-center">
        <div class="col-6">
            <a href="{% url 'CLS' %}" class="btn btn-danger btn-clean">Limpiar</a>
        </div>
        <div class="col-6">
            <a href="{% url 'procesar_pedido' %}" class="btn btn-success btn-checkout">Realizar Pedido</a>
        </div>
    </div>
</div>

{% if messages %}
    <div class="mt-4">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} alert-custom alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
