{% extends "deletes_consulta/deletebase.html" %} 
{% block content %}
<h2>Está seguro de eliminar la siguiente factura?</h2>
<form method="POST">
    {% csrf_token %}
    <!-- Muestra los detalles de la factura -->
    <p>Nombre: {{ factura.name }}</p>
    <p>Fecha: {{ factura.fecha_factura }}</p>
    <p>Subtotal: {{ factura.subtotal }}</p>
    <p>Iva: {{ factura.iva }}</p>
    <p>Total: {{ factura.total }}</p>
    <!-- Botón de confirmación para eliminar -->
    <input class="btn btn-success" type="submit" value="Eliminar">
    <!-- Botón para cancelar y volver a DashVentas -->
    <a class="btn btn-danger" href="{% url 'DashVentas' %}">Cancelar</a>
</form>
  
<script>  
  $(document).ready(function(){
    // Obtén el token CSRF de la metaetiqueta
    var csrftoken = document.querySelector('[name=csrf-token]').content

    $(".btn-danger").click(function(){
        var id = $(this).data('id');
        $.ajax({
            url: '/sales/eliminar_factura/' + id + '/',  // Asegúrate de que la URL es correcta
            data: {
                'factura_id': id,
                'csrfmiddlewaretoken': csrftoken  // Usa el token CSRF obtenido de la metaetiqueta
            },
            type: 'post',
            success: function(response){
                // Actualiza la tabla o muestra un mensaje de éxito.
            }
        });
    });
});
</script> 
{% endblock %}
