{% extends "inventory/base_delete_edit.html" %} 
{% block content %}
<h2>¿Está seguro de eliminar la siguiente materia prima?</h2>
<form method="POST">
    {% csrf_token %}
    <p>Nombre: {{ materia_prima.name }}</p>
    <p>Descripción: {{ materia_prima.descripcion }}</p>
    <p>Fecha de Vencimiento: {{ materia_prima.fecha_ven }}</p>
    <p>Cantidad: {{ materia_prima.cantidad }}</p>
    <input class="btn btn-success" type="submit" value="Eliminar">
    <a class="btn btn-danger" href="{% url 'materia_prima' %}">Cancelar</a>
</form>
{% endblock %}
