{% extends 'sales/basedash.html' %}
{% block main %}
  <div class="content px-5">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link {% if active_tab == 'productos' %}active{% endif %}" aria-current="page" href="{% url 'productos' %}">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active {% if active_tab == 'materia_prima' %}active{% endif %}" href="{% url 'materia_prima' %}">Materia Prima</a>
      </li>
    </ul>
    <!-- Tabla -->
    <div class="card mb-4 card-table mt-4">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <i class="ph-bold ph-jar-label"></i>
            Materia Prima
          </div>
          {% comment %} <div>
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exportModal">Exportar</button>
          </div> {% endcomment %}
        </div>
      </div>
      <div class="card card-custom">
        <div class="table-responsive">
          <table id="datatablesSimple">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for materia in materias_primas %}
                <tr>
                  <td>{{ materia.name }}</td>
                  <td>{{ materia.descripcion }}</td>
                  <td>{{ materia.cantidad }}</td>
                  <td>
                    <div class="btn-group">
                      <a class="nav-link" href="{% url 'editar_materia_prima' materia.id %}"><button class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver detalles"><i class="ph-bold ph-eye"></i></button></a>
                      <a class="nav-link" href="{% url 'eliminar_materia_prima' materia.id %}"><button class="btn btn-danger delete-factura" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"><i class="ph-bold ph-trash"></i></button></a>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

