{% extends "basedashVentas.html" %} 
{% block main%}
<main>
    <div class="container-fluid px-4">
      <h1 class="mt-4">Ventas</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Panel</li>
      </ol>
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="card bg-warning text-white mb-4">
            <div class="card-body">Pendientes</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
              <a class="small text-white stretched-link" href="#">Ver detalles</a>
              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card bg-success text-white mb-4">
            <div class="card-body">Entregados</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
              <a class="small text-white stretched-link" href="#">Ver detalles</a>
              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card bg-danger text-white mb-4">
            <div class="card-body">Eliminados</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
              <a class="small text-white stretched-link" href="#">Ver detalles</a>
              <div class="small text-white"><i class="fas fa-angle-right" height="40"></i>
                </canvas></div>
            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <i class="fas fa-table me-1"></i>
                Facturas de Ventas
              </div>
              <button class="btn btn-primary" id="btnAgregarPedido">Agregar Factura de Venta</button>
            </div>
          </div>
          <div class="card-body">
            <table id="datatablesSimple">
              <thead>
                  <tr>
                      <th style="width: 8%;"><a href="#">Fecha</a></th>
                      <th style="width: 18.057720057720058%;"><a href="#">Subtotal</a></th>
                      <th style="width: 18.057720057720058%;"><a href="#">IVA</a></th>
                      <th style="width: 18.057720057720058%;"><a href="#">Total</a></th>
                      <th style="width: 1%;"><a href="#">Acciones</a></th>
                  </tr>
              </thead>
              <tbody>
                  {% for factura_venta in factura_ventas %}
                  <tr>
                      <td>{{ factura_venta.factura.pedido.usuario.email }}</td>
                      <td>{{ factura_venta.factura.fecha_factura }}</td>
                      <td>{{ factura_venta.factura.subtotal }}</td>
                      <td>{{ factura_venta.factura.iva }}</td>
                      <td>{{ factura_venta.factura.total }}</td>
                      <td >
                        <a class="nav-link" href="{% url 'consultar_factura_venta' factura_venta.factura.id %}">
                          <button class="btn btn-primary" data-toggle="tooltip" title="Ver">
                              <i class="fa-regular fa-eye fa-lg" style="color: #FFF9D9" data-toggle="tooltip" title="Ver"></i>
                          </button>
                      </a>                      
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>   
          </div>
        </div>
  </main>
{% endblock %}
{% block form %}
<div class="modal fade" id="registroPedidoModal">
  <div class="modal-dialog">
      <div class="modal-content">
          <!-- Cabecera del Modal -->
          <div class="modal-header">
              <h4 class="modal-title">Agregar Factura Venta</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <!-- Cuerpo del Modal -->
          <div class="modal-body">
              <form method="POST" action="{% url 'agregar_factura_venta' %}">
                  {% csrf_token %}
                  <div class="form-group">
                      <label for="facturaSelect">Factura:</label>
                      <select class="form-control" id="facturaSelect" name="factura" required>
                          <option value="" disabled selected>Seleccione una factura</option>
                          {% for factura in facturas %}
                              <option value="{{ factura.id }}">{{ factura.id }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div class="form-group">
                      <label for="empleadoSelect">Empleado:</label>
                      <select class="form-control" id="empleadoSelect" name="empleado" required>
                          <option value="" disabled selected>Seleccione un empleado</option>
                          {% for empleado in empleados %}
                              <option value="{{ user.id }}">{{ empleado.user.email }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div class="form-group">
                      <label for="clienteSelect">Cliente:</label>
                      <select class="form-control" id="clienteSelect" name="cliente" required>
                          <option value="" disabled selected>Seleccione un cliente</option>
                          {% for cliente in clientes %}
                              <option value="{{ cliente.user.id }}">{{ cliente.user.email }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div class="modal-footer">
                      <button type="submit" name="crear_factura_venta" class="btn btn-primary">Agregar</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
{% endblock %}





