{% extends "basedash.html" %}
{% block main %}
<style>
  .btn-group .btn, .btn-group .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0; 
    width: 100%; 
  }
  .btn-group .btn i {
      font-size: 16px;
  }
  .btn-group .nav-link {
      padding: 0;
      margin: 0;
  }
</style>
<main>
      <div class="row">
        <div class="container-fluid px-4">
          <h1 class="mt-4">Pedidos en Proceso</h1>
          <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Panel</li>
          </ol>
          <div class="row">
            <div class="col-xl-3 col-lg-6 mb-3">
              <div class="card" style="border-color: #ffc107;">
                <div class="card-body">
                  <i class="ph-bold ph-hourglass"  style="color: #ffc107;"></i>
                  <h5 class="card-title">Pendientes</h5>
                  <a class="btn btn-warning btn-lg" href="{% url 'pedidos_pendientes' %}">{{ pedidos_pendientes }}</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 mb-3">
              <div class="card" style="border-color: #198754;">
                <div class="card-body">
                  <i class="ph-bold ph-check-circle" style="color: #198754;"></i>
                  <h5 class="card-title">Completados</h5>
                  <a class="btn btn-success btn-lg" href="{% url 'pedidos_completados' %}">{{ pedidos_completados }}</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 mb-3">
              <div class="card" style="border-color: #dc3545;">
                <div class="card-body">
                  <i class="ph-bold ph-x-circle" style="color: #dc3545;"></i>
                  <h5 class="card-title">Cancelados</h5>
                  <a class="btn btn-danger btn-lg" href="{% url 'pedidos_cancelados' %}">{{ pedidos_cancelados }}</a>
                </div>
              </div>
            </div>       
          <div class="card mb-4">
          <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <i class="fas fa-table me-1"></i>
                En Proceso
              </div>
            </div>
          </div>
          <div class="card-body">
            <table id="datatablesSimple">
              <thead>
                  <tr>
                      <th style="width: 8%;"><a href="#">Fecha</a></th>
                      <th style="width: 18.057720057720058%;"><a href="#">Subtotal</a></th>
                      <th style="width: 18.057720057720058%;"><a href="#">Estado</a></th>
                      <th style="width: 18.057720057720058%;"><a href="#">Acciones</a></th>
                  </tr>
              </thead>
              <tbody>
                  {% for pedido in pedidos %}
                  <tr>
                      <td>{{ pedido.fecha_pedido }}</td>
                      <td>{{ pedido.subtotal }}</td>
                      <td>{{ pedido.get_estado_display }}</td>
                      <td>
                        <div class="btn-group" role="group" style="width: 30%;">
                          <button class="btn btn-warning btn-sm w-50" data-toggle="modal" data-target="#editarModal" data-id="{{ pedido.id }}" data-estado="{{ pedido.estado }}">
                              <i class="ph ph-pencil-line" style="font-size: 25px;" data-toggle="tooltip" title="Editar"></i>
                          </button>
                          <a class="nav-link w-50 p-0" href="{% url 'consultar_pedido' pedido.id %}">
                            <button class="btn btn-primary btn-sm w-100" data-toggle="tooltip" title="Ver">
                                <i class="ph ph-eye" style="font-size: 25px;" data-toggle="tooltip" title="Ver"></i>
                            </button>
                          </a>
                        </div>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>          
          </div>
        </div>
      </div>
  </main>
{% endblock %}

{% block form %}
<!-- Modal para editar el estado -->
<div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="editarModalLabel">Editar Estado del Pedido</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form method="post" action="{% url 'editar_pedido_proceso' 0 %}" id="editarForm">
                  {% csrf_token %}
                  <input type="hidden" name="pedido_id" id="pedido_id" value="">
                  <label for="nuevo_estado">Selecciona el nuevo estado:</label>
                  <select name="nuevo_estado" id="nuevo_estado" class="form-control">
                    <optgroup label="Seleccionar estado">
                        <option value="pendiente">Pendiente</option>
                        <option value="completado">Completado</option>
                        <option value="cancelado">Cancelado</option>
                        <!-- Agrega más opciones según tus necesidades -->
                    </optgroup>
                </select>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Guardar Cambios</button>
          </div>
              </form>
      </div>
  </div>
</div>

<script>
  $('#editarModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var id = button.data('id'); // Extract info from data-* attributes
    var estado = button.data('estado');
    var modal = $(this);

    modal.find('.modal-body #pedido_id').val(id);
    modal.find('.modal-body #nuevo_estado').val(estado);

    // Construct the URL for the form action
    var action = "{% url 'editar_pedido_proceso' id=0 %}".replace('0', id);
    modal.find('form').attr('action', action);
  });

  $('#editarForm').on('submit', function (e) {
    e.preventDefault(); // Prevent the form from submitting normally

    var form = $(this);
    $.ajax({
      type: 'POST',
      url: form.attr('action'),
      data: form.serialize(),
      success: function (response) {
        $('#editarModal').modal('hide');
        location.reload();  // Reloads the page to reflect the changes
      },
      error: function (response) {
        console.error('Error:', response);
      }
    });
  });
</script>

{% endblock %}
