@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #fff !important;
} 
.container-fluent {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
}
.sidebar {
  position: relative;
  width: 256px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #00563F;
  padding: 24px;
  transition: all 0.3s;
}
.sidebar .head {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #FFFDEF;
}
.user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.user-img img {
  width: 100%;
  object-fit: cover;
}
.user-details .title,
.menu .title  {
  font-size: 14px;
  font-weight: 500;
  color: #FFFDEF;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.user-details .name {
  font-size: 14px;
  font-weight: 500;
  color: #FFFDEF;
}
.nav {
  flex: auto;
}
.menu ul {
  margin-left: -40px !important;
}
.menu ul li {
  position: relative;
  list-style: none;
  margin-bottom: 5px;
}
.menu ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #FFFDEF;
  text-decoration: none;
  padding: 12px 8px;
  border-radius: 8px;
  transition: all 0.3s;
}
.menu ul li > a:hover,
.menu ul li.active > a {
  color: #00563F;
  background-color: #FFFDEF;
}
.menu ul li .icon {
  font-size: 25px;
}
.menu ul li .text {
  flex: 1;
}
.menu ul li .arrow {
  font-size: 14px;
  transition: all 0.3s;
}
.menu ul li.active .arrow {
  transform: rotate(180deg);
}
.menu .sub-menu {
  display: none;
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 5px;
  border-left: 1px solid #f6f6f6;
}
.menu .sub-menu li a {
  padding: 10px 8px;
  font-size: 12px;
}
.menu:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #f6f6f6;
}
.menu-btn {
  position: absolute;
  right: -14px;
  top: 3.5%;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #FFFDEF;
  border: 2px solid #f6f6f6;
  background-color: #00563F;
}
.menu-btn:hover i {
  color: #00563F;
}
.menu-btn i {
  transition: all 0.3s;
}
.menu-btn:hover {
  background-color: #FFFDEF;
}
.sidebar.active {
  width: 100px;
}
.sidebar.active .menu-btn i {
  transform: rotate(180deg);
}
.sidebar.active .user-details {
  display: none;
}
.sidebar.active .menu .title {
  text-align: center;
}
.sidebar.active .menu ul li .arrow {
  display: none;
}
.sidebar.active .menu > ul > li > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar.active .menu > ul > li > a .text {
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 4px;
  color: #00563F;
  background-color: #FFFDEF;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.sidebar.active .menu > ul > li > a .text::after {
  content: "";
  position: absolute;
  left: -5px;
  top: 20%;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #FFFDEF;
  transform: rotate(45deg);
  z-index: -1;
}
.sidebar.active .menu > ul > li > a:hover .text {
  left: 50px;
  opacity: 1;
  visibility: visible;
}
.sidebar.active .menu .sub-menu {
  position: absolute;
  top: 0;
  left: 20px;
  width: 200px;
  border-radius: 20px;
  padding: 10px 20px;
  color: #00563F;
  border: 1px solid #f6f6f6;
  background-color: #FFFDEF;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.content {
  padding: 20px 0px;
  background-color: #fff;
  flex: 1;
}

#main-details .card{
    margin-top: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-body i {
  font-size: 40px;
  margin-bottom: 10px; /* Ajusta el espacio entre el ícono y el título */
}

.card-body .card-title {
  margin-bottom: 15px; /* Ajusta el espacio entre el título y el botón */
}

.card-body a {
  margin-top: 10px; /* Ajusta el espacio entre el botón y el contenido de la tarjeta */
}

/* Estilo para la tabla */
.custom-table th, .custom-table td {
  background-color: #FFF9D9 !important; /* Color de fondo de las celdas */
  color: #00563F !important; /* Color del texto */
}

/* Estilo para las filas de la tabla */
.custom-table tbody tr {
  transition: background-color 0.3s; /* Suaviza la transición del color de fondo */
}

/* Estilo para el efecto de hover en las filas */
.custom-table tbody tr:hover {
  background-color: #e2e6ea; /* Color de fondo cuando se pasa el mouse */
}

/* Estilo para el efecto de hover en las celdas */
.custom-table tbody td:hover {
  background-color: #f1f3f5; /* Color de fondo cuando se pasa el mouse sobre una celda */
}
